<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

    <!-- Font Awesome icons-->
    <script src="https://kit.fontawesome.com/955ae356a4.js" crossorigin="anonymous"></script>

    <!-- Devices Page CSS -->
    <link rel='stylesheet' href='/css/devices.css' type="text/css">

    <!-- Bootstrap Switch JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

    <!-- Search and Filtering -->
    <script>
        var registeredBrands = <%- JSON.stringify(registeredBrands) %>;

        function toggleItems() {
            var filterValue = $("#filter").val().toLowerCase();
            var searchValue = $("#search").val().toLowerCase();

            $("#device-list .device-room").parent().parent().removeClass("d-none").addClass("d-flex");

            if (searchValue.length > 0) {
                $("#device-list li h3").filter(function() {
                    return $(this).text().toLowerCase().indexOf(searchValue) === -1
                }).parent().parent().removeClass("d-flex").addClass("d-none");
            }

            if (filterValue != "any room") {
                $("#device-list li p").filter(function() {
                    return $(this).text().toLowerCase().indexOf(filterValue) === -1
                }).parent().parent().removeClass("d-flex").addClass("d-none");
            }
        }
        
        $(document).ready( function() {
            $("#api-key-div").hide();

            $("#search").on("keyup", function() {
                toggleItems();
            });

            $("#filter").on("change", function() {
                toggleItems();
            });

            $("#brand").on("change", function() {
                console.log("Changing brand!");
                console.log(registeredBrands);
                if ($.inArray(parseInt($("#brand").val()), registeredBrands) > -1) {
                    $("#api-key-div").hide();
                    $("#api-key-input").prop('required', false);
                } else {
                    $("#api-key-div").show();
                    $("#api-key-input").prop('required', true);
                }
            })

            $("#filter").on("change", function() {
                toggleItems();
            });

            $(".uploader").on("click", function() {
                let status;
                console.log("Upload clicked!");
                if ($(this).parent().parent().children(".switch-div").children(".switch-div").children(".device-switch").length > 0) {
                        status = $(this).parent().parent().children(".switch-div").children(".switch-div").children(".device-switch").is(':checked')
                } else {
                    status = $(this).parent().parent().children(".switch-div").children(".device-attribute").val().slice(1)
                }
                console.log(status)
                let id = $(this).parent().parent().children("div").first().attr('id');
                
                let path = "/devices/updateStatus/" + id + "/" + status

                console.log(path)
                
                window.location.href = path;
            })

            function allowUploadButton() {
                $(".device-attribute").on("change", function() {
                    if (allowUploadButton) {
                        console.log("Showing upload button!");
                        $(this).closest("li").children("#upload").show();
                    }
                });
            }

            $(function() {
                setTimeout(allowUploadButton, 250);
            });
        });
    </script>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
    <%- include('../partials/navbar'); %>
    <div class="mb-auto">
        <h3 class="text-center pt-3"><%= user %>'s Devices</h1>
        <div class="container w-50 mx-auto">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="input-group">
                        <select class="form-select" id="filter">
                            <option selected>Any Room</option>
                            <% for(var i = 0; i < rooms.length; i++) { %>
                            <option value="<%- rooms[i] %>"><%- rooms[i] %></option>
                            <% } %>
                        </select>
                        <input id="search" type="text" class="form-control w-50" for="filter" placeholder="Search by name...">
                    </div>
                </div>
                <div class="col-2 text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDevice">
                        Add Device
                    </button>
                </div>
            </div>
        </div>
        <%- include('../partials/add-device'); %>
        <div class="device-list">
            <ul id="device-list">
                <% for(var i = 0; i < devices.length; i++) { %>
                <li class="d-flex flex-column pb-2 position-relative">
                    <a href="/devices/delete/<%- devices[i].device_id %>" class="link-secondary"><i id="delete" class="fa-solid fa-trash position-absolute start-0 top-0"></i></a>
                    <div class="text-center" id="<%- devices[i].device_id %>">
                        <h3><%= devices[i].name %></h3>
                        <p class="device-room"><%= devices[i].room %></p>
                    </div>
                    <% switch(devices[i].type) {
                    case "rgbLight": %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 384 512">
                        <!-- Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>
                        <div class="mt-auto mb-3 switch-div">
                            <input class="p-0 mx-auto form-control form-control-color device-attribute" type="color" id="favcolor" name="favcolor" value="#<%=  devices[i].current_status %>">
                        </div>
                    <% break;
                    case "whiteLight": %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 384 512">
                        <!-- Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>
                        <div class="my-auto switch-div">
                            <div class="form-check form-switch mx-auto switch-div">
                                <input class="form-check-input device-attribute device-switch" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= devices[i].current_status === "true" ? "checked" : "" %>>
                            </div>
                        </div>
                    <% break;
                    case "toggle": %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 384 512">
                        <!-- Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z"/></svg>
                        <div class="my-auto switch-div">
                            <div class="form-check form-switch mx-auto switch-div">
                                <input class="form-check-input device-attribute device-switch" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= devices[i].current_status === "true" ? "checked" : "" %>>
                            </div>
                        </div>
                    <% break;
                    } %>
                    <div class="mx-auto text-center position-absolute end-0 bottom-0" id="upload" style="display:none;">
                        <a type="button" class="uploader"><i class="fa-solid fa-cloud-arrow-up" style="color: #11e462;"></i></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>